[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/ppoffice/hexo-theme-icarus.git
[submodule "themes/material"]
	path = themes/material
	url = https://github.com/viosey/hexo-theme-material.git
[submodule "themes/otakism"]
	path = themes/otakism
	url = https://github.com/artchen/hexo-theme-typescript.git
